<html>
    <head>
        <title>WEBテスト</title>
    </head>
    <body>
        <div>
            <h1><a href="/">伊藤ハム</a></h1>
        </div>

    {% for post in posts %}
        <div>
            <p>published: {{ post.published_date }}</p>
            <h2><a href="">{{ post.title }}</a></h2>
            <p>{{ post.text }}</p>
        </div>
    {% endfor %}


        <div>
            <p>公開日: 2020/10/14, 12:14</p>
            <h2><a href="">ブロアー</a></h2>
            <p> 機械Ｎｏ．選択 </p>
        </div>
    </body>
</html>
